<meta name="keywords" content="{{ if .Params.Keywords }}{{ delimit .Params.Keywords ", " }}{{ end }}">
<style>
    * {
        user-select: none;
    }
    *::selection {
        background: none;
    }
    *::-moz-selection {
        background: none;
    }
</style>
<!-- Google Tag Manager -->
<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TP7VZ93T');
</script>
<!-- End Google Tag Manager -->
<script type='text/javascript'>
    document.addEventListener("contextmenu", function(event){
        event.preventDefault();
    }, false);

    document.addEventListener("copy", function(event){
        // Change the copied text if you want
        event.clipboardData.setData("text/plain", "No se permite copiar en esta página web");
        // Prevent the default copy action
        event.preventDefault();
    }, false);
</script>